#quote-box {
    width: fit-content;
    max-width: 60vw;
    height: fit-content;
    max-height: 60vh;
    margin: auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    
}

#text {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
}
#text::first-letter {
    opacity: 1;
}
#text::before, #text::after{
    content: "\"";
    opacity: 0.4;
    background-color: inherit;
}

#text, #author {
    margin: 1.2rem 0;
    text-align: center;
}

#author {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: 300;
    opacity: 0.6;
}

.container-options{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#new-quote-btn, #tweet-quote{
    margin: 1rem 1.4rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: inherit;
}

#tweet-quote{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color:  #1b98e6;
}

#new-quote-btn {
    border: none;
    border-radius: 4px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.911);
    font-weight: 400;
    padding: 0.2rem 0.4rem;
    outline: none;
}
#new-quote-btn:hover{
    color: white;
}
